.sass-cache/
template/.sass-cache/

template/css/main.css.map
template/css/font-awesome-4.7.0/
template/css/bootstrap-grid.css
template/css/bootstrap-grid.css.map
template/css/bootstrap-grid.min.css
template/css/bootstrap-grid.min.css.map
template/css/bootstrap-reboot.css
template/css/bootstrap-reboot.css.map
template/css/bootstrap-reboot.min.css
template/css/bootstrap-reboot.min.css.map
template/css/bootstrap.min.css
template/css/bootstrap.css
template/css/bootstrap.min.css.map
template/css/bootstrap.css.map
template/js/popper-dist/
template/js/bootstrap.js
template/js/bootstrap.min.js
template/js/jquery-3.2.1.js
template/js/jquery-3.2.1.min.js
template/fonts/webfontkit-20171114-134325
node_modules/
.env
.nyc_output
coverage/
.env

server/src/migrations/20171119012404-create-center.js
server/src/migrations/20171119011057-create-user.js
server/src/migrations/20171119220658-create-event.js