/* 
import fonts
 */
 @font-face{ 
	font-family: 'Cantarell';
	src: url(../fonts/webfontkit/cantarell-regular-webfont.woff);
}
@font-face{ 
	font-family: 'Maven Pro';
	src: url(../fonts/webfontkit/mavenpro-medium-webfont.woff);
}
@font-face{ 
	font-family: 'PT Sans Caption';
	src: url(../fonts/webfontkit/pt_sans-caption-web-bold-regular-webfont.woff);
}
/* Variables */
$font-head-color: #393939;
$header-color: black;
$navbar-border: grey;
$header-top: 70px;
$font-Encode:  'Encode Sans Expanded', Helvetica,Tahoma, sans-serif;
$font-cantarell: 'Cantarell', sans-serif;
$font-patrick: 'Patrick Hand', cursive;
$font-maven-pro: 'Maven Pro', sans-serif;
$font-pt-sans: 'PT Sans Caption', sans-serif;


/* background: url('../images/food-landing.jpg') no-repeat center center fixed 
background: url('../images/pexels-photo-274192.jpeg') no-repeat center center fixed;*/

#add-events-body::after {
	content: "";
	background: url('../images/pexels-photo-621891.jpeg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity: 0.3;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}


#admin-add-center::after {
	content: "";
	background: url('../images/pexels-photo-64769.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity: 0.3;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

#center-details-cover:after {
	content: "";
	background: url('../images/pexels-photo-64769.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  opacity: 0.4;
  top: 0;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}


#profile-cover::after {
	content: "";
	background: url('../images/pexels-photo-518244.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  opacity: 0.4;
  top: 0;
  left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

#admin-add-center::after {
	content: "";
	background: url('../images/pexels-photo-64769.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  opacity: 0.4;
  top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}


#center-details-cover::after {
	content: "";
	background: url('../images/pexels-photo-64769.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  opacity: 0.4;
  top: 0;
	left: 0;
 	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;


}

#event-details::after {
	content: "";
	background: url('../images/pexels-photo-64769.jpeg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity: 0.3;
	top: 0;
  left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}


#profile-cover::after {
	content: "";
	background: url('../images/pexels-photo-518244.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  opacity: 0.4;
  top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

#help-cover::after {
	content: "";
	background: url('../images/pexels-photo-64769.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  opacity: 0.4;
  top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

#admin-add-center::after {
	content: "";
	background: url('../images/pexels-photo-64769.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  opacity: 0.4;
  top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

#add-event-header {
  margin-top: 70px;
}

/* #admin-form .form-control {
  width: 600px;
	border: solid purple 1px;

} */

.home-para {
  font-family: $font-Encode;
  font-size: 20px;
  font-weight: bolder;
}
.head-1 {
	font-family: $font-cantarell;
	font-weight: 50px;
	font-size: 70px;  
}
.head-para {
font-family: $font-maven-pro;
font-weight: 200px;
font-size: 20px;
}

#admin-add-head {
	margin-bottom: $header-top;
}
/* FOOTER */
.head1 {
	font-family: $font-Encode;
	color: $font-head-color;
}

#p-head {
	font-size: 20px;
	font-weight: 20px;
}


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px; 
}

/* Event catalog and My Events page */
.even-font {
	font-family: $font-patrick;
	font-weight: bold;
}

.date-font {
	font-family: $font-cantarell;
	font-weight: bold;
}

.location-font, .search-font {
  font-family: $font-maven-pro;
  font-weight: bold;
}

small {
  font-family: $font-patrick;
  font-weight: bolder;
  color: purple;
}

/* 
Event Details Page
 */
 #img-details {
	max-width: 400px;
}
.font-details {
	font-family: $font-cantarell;
	font-weight: bold;
	font-size: 25px;
}

#details-ev {
	margin-bottom: 50px;
}

.detail-button {
	margin-left: 500px;
}

/* Center Details page */
.center-details-para {
	font-family: $font-maven-pro;
	font-weight: bolder;
}
.center-details-span {
	font-family: $font-cantarell;
}

#head-holding{
	font-family: $font-Encode;
	font-size: 30px;
	font-weight: bold;
}


/* Center Details page */
.center-details-para {
	font-family: $font-maven-pro;
	font-weight: bolder;
}
.center-details-span {
	font-family: $font-cantarell;
}
#head-holding{
	font-family: $font-Encode;
	font-size: 30px;
	font-weight: bold;
}

/* GET all events center page */
.all-centers-font {
	font-family: $font-cantarell;
	font-weight: bold;
}


/* Center Details page */
.center-details-para {
	font-family: $font-maven-pro;
	font-weight: bolder;
}
.center-details-span {
	font-family: $font-cantarell;
}
#head-holding{
	font-family: $font-Encode;
	font-size: 30px;
	font-weight: bold;
}

/* GET all events center page */
.all-centers-font {
	font-family: $font-cantarell;
	font-weight: bold;
}


/* View point for  desktop*/
@media(min-width: 768px) {
/* landing page */
	#nav-events, #navbar-addevents,#navbar-details, #navbar-admin-center, #nav-center-details
	 {
		margin-left: 500px;
	}
	.nav-link {
		border-right: solid $navbar-border 1px;
		border-radius: 10px;
		margin: 3px 20px 0px 5px; 
		
	}
	#nav-logo {
		border-right: solid $navbar-border 1px;
		padding-right: 20px;
	}

	/*events catalog  */
	#event-page,#myevent, #details, #add-center-header, #event-holding-header,#event-holding {
		margin-top: $header-top;
	}

	input[type=text] {
		width: 300px;
		-webkit-transition: width 0.4s ease-in-out;
		transition: width 0.4s ease-in-out;
		border-color: $header-color;
}
	
	/* When the input field gets focus, change its width to 70% */
	input[type=text]:focus {
			width: 70%;
			border-color: $header-color;
	}
	.cont-body, #event-holding {
		margin-bottom: 150px;
	}

	#admin-form .form-control, #name-form, #email-form {
		width: 600px;
		border: solid purple 1px;
  }
	#center-details-slider, #center-details-header {
		margin-top: $header-top;
	}
	#center-details-slider, #center-details-header {
		margin-top: $header-top;
	}
	
}

@media(max-width: 576px) {
	#navbar-signup, #navbar-myevents {
		margin-left: 30px;
	}
	.nav-link {
		border: solid $navbar-border 0.5px;
		border-radius: 5px;
		max-width: 130px;
		text-align: center;
		margin: 10px 0 0 0;
		
	}
	#nav-logo {
		border-right: solid $navbar-border 1px;
		padding-right: 20px;
  }


	#event-page, #myevent,#details, #add-center-header {
		margin-top: $header-top;
	}
	input[type=text] {
		width: 300px;
		-webkit-transition: width 0.4s ease-in-out;
		transition: width 0.4s ease-in-out;
		border-color: $header-color;
	}

 /* When the input field gets focus, change its width to 70% */
	input[type=text]:focus {
		width: 100%;
		border-color: $header-color;
	}	
  

	.card {
		height: 20rem;
		width: 20rem;
		margin-left: 70px;
	}
	#card1, #card2 {
		margin-top: 10px;
	}
	.card {
		margin-top: 200px;
	}
	.cont-body {
		margin-bottom: 200px;
	}
  
	.detail-button {
		margin-left: 110px;	
	}
 
	#admin-form, .form-control, #name-form, #email-form {
		width: 300px;
		border: solid purple 1px;
	}
}
