
/* 
import fonts
 */
 @font-face{ 
	font-family: 'Cantarell';
	src: url(../fonts/webfontkit/cantarell-regular-webfont.woff);
}
@font-face{ 
	font-family: 'Maven Pro';
	src: url(../fonts/webfontkit/mavenpro-medium-webfont.woff);
}
@font-face{ 
	font-family: 'PT Sans Caption';
	src: url(../fonts/webfontkit/pt_sans-caption-web-bold-regular-webfont.woff);
}
/* Variables */
$pry-color: #800080;
$font-head-color: #393939;
$header-color: black;
$navbar-border: grey;
$header-top: 70px;
$font-Encode:  'Encode Sans Expanded', Helvetica,Tahoma, sans-serif;
$font-cantarell: 'Cantarell', sans-serif;
$font-patrick: 'Patrick Hand', cursive;
$font-maven-pro: 'Maven Pro', sans-serif;
$font-pt-sans: 'PT Sans Caption', sans-serif;


/* background: url('../images/food-landing.jpg') no-repeat center center fixed 
background: url('../images/pexels-photo-274192.jpeg') no-repeat center center fixed;*/

body::after {
	content: "";
	background: url('../images/pexels-photo-621891.jpeg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity: 0.5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}

.head1 {
	font-family: $font-Encode;
	color: $font-head-color;
}

#p-head {
	font-size: 20px;
	font-weight: 20px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px; 
}

/* Event Catalog page */


.even-font {
	font-family: $font-patrick;
	font-weight: bold;
}

.date-font {
	font-family: $font-cantarell;
	font-weight: 80px;
}

.location-font, .search-font {
	font-family: $font-maven-pro;

}
/* View point for  */
@media(min-width: 768px) {
/* landing page */
	#nav-events {
		margin-left: 500px;
	}
	.nav-link {
		border-right: solid $navbar-border 1px;
		border-radius: 10px;
		margin: 3px 20px 0px 5px; 
		
	}
	#nav-logo {
		border-right: solid $navbar-border 1px;
		padding-right: 20px;
	}

	/*events catalog  */
	#event-page {
		margin-top: $header-top;
	}

	input[type=text] {
		width: 300px;
		-webkit-transition: width 0.4s ease-in-out;
		transition: width 0.4s ease-in-out;
		border-color: $header-color;
}
	
	/* When the input field gets focus, change its width to 70% */
	input[type=text]:focus {
			width: 70%;
			border-color: $header-color;
	}
	.cont-body {
		margin-bottom: 150px;
	}
	
}
	
@media(max-width: 576px) {
	#navbar-signup {
		margin-left: 30px;
	}
	.nav-link {
		border: solid $navbar-border 0.5px;
		border-radius: 5px;
		max-width: 130px;
		text-align: center;
		margin: 10px 0 0 0;
		
	}
	#nav-logo {
		border-right: solid $navbar-border 1px;
		padding-right: 20px;
	}
	#event-page {
		margin-top: $header-top;
	}
	input[type=text] {
		width: 300px;
		-webkit-transition: width 0.4s ease-in-out;
		transition: width 0.4s ease-in-out;
		border-color: $header-color;
	}

 /* When the input field gets focus, change its width to 70% */
	input[type=text]:focus {
		width: 100%;
		border-color: $header-color;
	}	

	.card {
		height: 20rem;
		width: 20rem;
		margin-left: 70px;
	}
	#card1, #card2 {
		margin-top: 10px;
	}
	.card {
		margin-top: 200px;
	}
	.cont-body {
		margin-bottom: 200px;
	}
}



