/* 
import fonts
 */
@font-face {
  font-family: 'Cantarell';
  src: url(../fonts/webfontkit/cantarell-regular-webfont.woff); }
@font-face {
  font-family: 'Maven Pro';
  src: url(../fonts/webfontkit/mavenpro-medium-webfont.woff); }
@font-face {
  font-family: 'PT Sans Caption';
  src: url(../fonts/webfontkit/pt_sans-caption-web-bold-regular-webfont.woff); }
/* Variables */
/* background: url('../images/food-landing.jpg') no-repeat center center fixed 
background: url('../images/pexels-photo-274192.jpeg') no-repeat center center fixed;*/
/* add-events page */
#add-events-body::after {
  content: "";
  background: url("../images/pexels-photo-621891.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

#admin-add-center::after {
  content: "";
  background: url("../images/pexels-photo-64769.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

#event-details::after {
  content: "";
  background: url("../images/pexels-photo-64769.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

#center-details-cover:after {
  content: "";
  background: url("../images/pexels-photo-64769.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

#admin-add-center::after {
  content: "";
  background: url("../images/pexels-photo-64769.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

#profile-cover:after {
  content: "";
  background: url("../images/pexels-photo-518244.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }


/* #admin-form .form-control {
  width: 600px;
	border: solid purple 1px;

} */
#add-event-header {
  margin-top: 70px; }

/* #admin-form .form-control {
  width: 600px;
	border: solid purple 1px;

} */
.home-para {
  font-family: "Encode Sans Expanded", Helvetica, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: bolder; }

.head-1 {
  font-family: "Cantarell", sans-serif;
  font-weight: 50px;
  font-size: 70px; }

.head-para {
  font-family: "Maven Pro", sans-serif;
  font-weight: 200px;
  font-size: 20px; }

#admin-add-head {
  margin-bottom: 70px; }

/* FOOTER */
.head1 {
  font-family: "Encode Sans Expanded", Helvetica, Tahoma, sans-serif;
  color: #393939; }

#p-head {
  font-size: 20px;
  font-weight: 20px; }

html {
  position: relative;
  min-height: 100%; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 70px; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px; }


/* Event catalog and My Events page */
.even-font {
  font-family: "Patrick Hand", cursive;
  font-weight: bold; }

.date-font {
  font-family: "Cantarell", sans-serif;
  font-weight: bold; }

.location-font, .search-font {
  font-family: "Maven Pro", sans-serif;
  font-weight: bold; }

small {
  font-family: "Patrick Hand", cursive;
  font-weight: bolder;
  color: purple; }

/* Center Details page */
.center-details-para {
  font-family: "Maven Pro", sans-serif;
  font-weight: bolder; }

.center-details-span {
  font-family: "Cantarell", sans-serif; }

#head-holding {
  font-family: "Encode Sans Expanded", Helvetica, Tahoma, sans-serif;
  font-size: 30px;
  font-weight: bold; }

/* GET all events center page */
.all-centers-font {
  font-family: "Cantarell", sans-serif;
  font-weight: bold; }


/* 
Event Details Page
 */
#img-details {
  max-width: 400px; }

.font-details {
  font-family: "Cantarell", sans-serif;
  font-weight: bold;
  font-size: 25px; }

.font-span {
  font-family: "Patrick Hand", cursive; }

#details-ev {
  margin-bottom: 50px; }

.detail-button {
    margin-left: 500px; }
    
    /* View point for  */
@media (min-width: 768px) {
  /* landing page */
  #nav-events, #navbar-addevents, #navbar-admin-center, #navbar-details, #nav-center-details {
    margin-left: 500px; }
  
  #navbar-addevents {
    height: 30px; }
  
  .nav-link {
    border-right: solid grey 1px;
    border-radius: 10px;
    margin: 3px 20px 0px 5px; }

  #nav-logo {
    border-right: solid grey 1px;
    padding-right: 20px; }

  /*events catalog  */
  #event-page, #add-center-header, #event-holding-header, #event-holding,#myevent, #details {
    margin-top: 70px; }

  input[type=text] {
    width: 300px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border-color: black; }

  /* When the input field gets focus, change its width to 70% */
  input[type=text]:focus {
    width: 70%;
    border-color: black; }
  
  .cont-body {
    margin-bottom: 150px; }
  
  #admin-form .form-control {
    width: 600px;
    border: solid purple 1px; }

  #center-details-slider, #center-details-header {
    margin-top: 70px; } }

    /* Viewport for Mobile */
@media (max-width: 576px) {
  #navbar-myevents,#navbar-signup {
    margin-left: 30px; }

  .nav-link {
    border: solid grey 0.5px;
    border-radius: 5px;
    max-width: 130px;
    text-align: center;
    margin: 10px 0 0 0; }

  #nav-logo {
    border-right: solid grey 1px;
    padding-right: 20px; }

  #event-page, #add-center-header,#myevent, #details {
    margin-top: 70px; }

  input[type=text] {
    width: 300px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border-color: black; }

  /* When the input field gets focus, change its width to 70% */
  input[type=text]:focus {
    width: 100%;
    border-color: black; }

  .card {
    height: 20rem;
    width: 20rem;
    margin-left: 70px; }

  #card1, #card2 {
    margin-top: 10px; }

  .card {
    margin-top: 200px; }

  .cont-body {
    margin-bottom: 200px; }

  #admin-form .form-control {
    width: 300px;
    border: solid purple 1px; } 

  .detail-button {
    margin-left: 110px; } }

/*# sourceMappingURL=main.css.map */
